  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
  font-family: 'Montserrat',sans-serif !important;
}

/* antd override */

input{
  border-radius: 2px !important;
  border: 1px solid rgba(128 , 128 , 128 , 0.521) !important;
  height: 40px;
}
input:focus{
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid gray !important; 
}
label{
  font-size: 16px !important;
  color: black;
}
.ant-form-item{
  margin: 10px 0 !important;
}
/* Common Styling for All Pages */

.card{
  box-shadow: 0 0 2px gray;
  border-radius: 0 !important;
}
.card-title{
  font-size: 1.5rem;
  font-weight: bold;
}
.normal-text{
  font-size: 1rem;
}
.primary-button{
  background-color: #005555 !important;
  border-color: #005555 !important;
  height: 40px !important;
  width: 100% !important;
  color: white;
  font-size: 16px !important;
}
.primary-button:hover{
  background-color: white;
}
.anchor{
  color: black !important;
  text-decoration: underline;
  font-size: 16px !important;
}
.anchor:hover{
  text-decoration: underline !important;
}

/* authentication page for Register */

.authentication{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #005555; */

}
.authentication-form{
  width: 400px;
}

.authentication .card-title{
  background-color: #753f09 !important;
  color: white !important;
  max-width: max-content !important;
  padding: 7px 15px;
  margin-left: -50px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}